
.bg-attention {
    background-color: #fab413;
}


.bg-erreur {
    background-color: #e52718;
}

.bg-succes {
    background-color: #82bb26;
}


.bg-information {
    background-color: #18a9e1;
}

.bg-da-indigo {
    background-color: #4b2568;
}


